<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
        <link rel="stylesheet" href="<%= contextPath %>/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            window.contextPath = '<%= contextPath %>';
        </script>
    </head>
    <body>
        <div id="app" class="columns is-gapless">
        </div>
        <script type="text/javascript" src="<%= contextPath %>/bundle.js"></script>
    </body>
</html>
