button {
    border: none;
    border-radius: 2px;
    padding: 5px;
}

button:focus {
    outline: none;
}

button:active {
    background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)); 
}
