.rank-filter {
  .rank-filter-item {
    margin-bottom: 12px;
    text-align: left;
  }

  .rank-filter-item--name {
    // vertical-align: middle;
    margin-right: 12px;
  }

  .rank-filter-item--options {
    display: inline-flex;
  }

  .rank-filter-item--option {
    margin-right: 6px;
  }
}
