@import 'flex';

// .page-header {
//   padding: 10px;
//
//   h1 {
//     margin-left: 10px;
//   }
// }

.main-container {
  @include flex(1, 0, auto);

  width: calc(100% - #{$menu-width});
}
.bannerContainer, .loginContainer{
    display:inline-block;
}

.title-text {
  font-size: 35px;
}

.title-img {
  max-width: 180px;
  min-width: 180px;
}

.header {
  margin-top: 20px;
  font-weight: 100;
}

.header-user-button {
  margin-right: 5px;

  a {
    color: white;
  }
}
