@import 'variables';
@import 'menu';
@import 'header';
@import 'flex';
@import 'submit';
@import 'filter';

body {
    font-family: "微软雅黑" !important;
    max-width: 1600px;
    margin: auto;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.divider {
  margin: 0;
}


.index-banner {
  width: 100%;

  padding: 10px;

  img {
    width: 100%;
  }

  .index-banner-news {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.not-found {
  height: 100%;
  text-align: center;
}

.load-more {
    color: #e95d45 !important;
    padding: 0 15px !important;
    height: 40px !important;

    &:disabled {
        color: rgba(0, 0, 0, 0.298039) !important;
    }
}

.rank-content {
  text-align: center;

  img {
    width: 80%;
  }

  .rank-content--title {
    font-size: 36px;
    margin-bottom: 12px;
  }
}

.list-item {
    div {
        font-family: "微软雅黑" !important;
        font-size: 13px;
    }
}

.table {
    padding-left: 0;
    word-break: break-all;

    li {
        font-size: 14px;
        list-style-type: none;
        border-bottom: 1px solid #ccc;
        padding: 15px 0;

        &.table-header {
            font-weight: bold;
            font-size: 15px;
        }
        .group {
            display: inline;
        }
        span {
            label {
                display: none;
            }
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }
    }
}

.news {
    margin-bottom: 60px;

    h2 {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }


    p {
        font-size: 15px;
    }

}

.date {
    display: inline-block;
    width: 100px;
}

.col-index {
    width: 5%;
}

.col-user-name {
    width: 7%;
}

.col-score {
    width: 10%;
}

.col-stage {
    width: 8%;
}

.col-model {
    width: 10%;
}

.col-type {
    width: 10%;
}

.col-space-name {
    width: 10%;
}

.col-time {
    width: 10%;
}

.col-location {
    width: 7%;
}

.col-comment {
    width: 22%;
}

.game-menu {
    height: 100%;
    overflow-y: auto;
    max-width: 260px;
}
.menu-list {
    li {
        ul {
            margin-right: 0px;
        }
    }
}
.menu-item {
    a {
        padding-right: 0px;
    }
}

.user-section {
    text-align: right;
}

.modal-content {
    text-align: left;
}

@media (max-width: 850px) {
    .page-title {
        font-size: 20px;
        padding-top: 0px;
    }
    // .game-menu-item {
    //     padding: 0px !important;
    //     height: 36px !important;
    // }
}

@media (max-width: 675px) {

    .page-title {
        display: block;
        font-size: 18px;
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .news {
        p {
            font-size: 12px;
        }

    }

    img {
        width: 100%;
    }

    .table {

        li {
            font-size: 12px;
            &.table-header {
                display: none;
            }
            .group {
                display: block;
                margin-bottom: 10px;
            }
            span {
                label {
                    display: block;
                    color: #999;
                    font-size: 11px;
                }
            }
        }
    }

    .col-index {
        width: 30%;
    }

    .col-user-name {
        width: 40%;
    }

    .col-score {
        width: 30%;
    }

    .col-stage {
        width: 30%;
    }

    .col-model {
        width: 30%;
    }

    .col-type {
        width: 40%;
    }

    .col-space-name {
        width: 30%;
    }

    .col-time {
        width: 40%;
    }

    .col-location {
        width: 30%;
    }

    .col-comment {
        width: 100%;
    }

}
